---
import 'swiper/css';
import 'swiper/css/navigation';
import 'swiper/css/pagination';
import 'swiper/css/scrollbar';

const {
    swiperSettings = ''
} = Astro.props;

let parsedSettings;
try {
    parsedSettings = JSON.parse(swiperSettings);
} catch {
    parsedSettings = {};
}

const ariaLive = parsedSettings.autoplay ? 'polite' : 'off';
---

<div 
    class="swiper"
    role="region"
    aria-roledescription="carousel"
    aria-live={ariaLive}
    data-js="swiper"
    data-swiper-settings={swiperSettings}
>
    <div class="swiper-wrapper">

        <slot />

    </div>
</div>

<script>
    import {swiper} from '@scripts/swiper';

    swiper.init();
</script>
