---
import '@styles/styles.scss';

import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';

const {
	pageTitle = ''
} = Astro.props
---

<!Doctype html>
<html lang="de">
    
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <meta name="description" content="Portfolio von Calvin Kamp – Frontend Developer mit Fokus auf moderne UI/UX und Accessibility" />
        <meta name="keywords" content="Calvin Kamp, Frontend Developer, UI/UX, Accessibility, Webentwicklung, HTML, CSS, JavaScript, SCSS, Vue, Nuxt, Astro, Barrierefreiheit, Responsive Design" />
        <meta name="author" content="Calvin Kamp" />


        <meta property="og:title" content="Calvin Kamp – Frontend Developer & UI/UX Designer" />
        <meta property="og:description" content="Ein Portfolio mit Fokus auf moderne Interfaces, Accessibility und performanten Frontends." />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.calvin-kamp.de" />
        <meta property="og:image" content="https://www.calvin-kamp.de/avatar.png" />

        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="Calvin Kamp – Frontend Developer & UI/UX Designer" />
        <meta name="twitter:description" content="Frontend-Projekte mit Fokus auf moderne UI/UX, Accessibility und sauberen Code." />
        <meta name="twitter:image" content="https://www.calvin-kamp.de/avatar.png" />

        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="icon" type="image/svg+xml" href="/favicon.ico">
    
        <title>{pageTitle}</title>

    </head>
    
	<body>

        <Header />

		<main>
			<slot />
		</main>

        <Footer />
		
	</body>
</html>
